@import 'Src/core/common.scss';

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  background: #ccc;
  height: 37.45px;

  .email {
    font-size: $font-small;
  }
}

@media only screen and (max-width: 600px) {
  .chat-header {
    height: 35.45px;
    padding-right: 50px;
  }
}
