@import 'Src/core/common.scss';

.user {
  padding: 10px;
  box-shadow: 0px 0px 2px 0px rgba(200, 200, 200, 0.6);
  margin: 1px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  &:hover {
    background: #eee;
  }

  .email {
    font-size: $font-small;
  }

  .unread {
    height: 10px;
    width: 10px;
    background: rgb(33, 182, 33);
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
  }
}
