@import 'Src/core/common.scss';

.search-user {
  background: #dfdfdf;
  border-bottom: solid 2px $color-primary;
  max-height: 300px;
  overflow: auto;
  position: relative;
  @include scrollbar();

  .form {
    position: sticky;
    background: #dfdfdf;
    top: 0;
    left: 0;

    input {
      padding: 10px 15px;
      width: 100%;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
