@import 'Src/core/common.scss';

.navbar {
  &.loggedin {
    padding: 0 20px;
    align-items: center;
    height: 52px;
    display: flex;
    justify-content: space-between;
    color: $color-dark;
    background: #eeeeee;

    .details {
      margin-right: 30px;

      .email {
        font-size: $font-small;
      }
    }

    .options {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .logout {
        background: none;
        border: none;
        color: $color-dark;
        height: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }

  &:not(.loggedin) {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
    background: $color-secondary;

    & > * {
      text-decoration: none;
      color: $color-light;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 30px;
    }

    .active {
      display: none;
    }
  }
}
